/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 137.5%;
	-webkit-font-smoothing: antialiased;
	background: #eeeeee;;
	color: #1f252f;
}

/* Copy & Lists */
p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}
h1 {
    font-size: 4.242rem;
    line-height: 4.4rem;
    margin-top: 3rem;
}
h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
}
h3 {
    font-size: 1.414rem;
}
h4 {
    font-size: 0.707rem;
}
h5 {
    font-size: 0.4713333333333333rem;
}
h6 {
    font-size: 0.3535rem;
}

main {
    width: 800px;
	margin: 0 auto;
	margin-bottom: 64px;
}

@media only screen and (max-width: 812px) {
    body {
        margin: 16px;
    }

    main {
        width: 100%;
	}
	
	h1 {
		font-size: 22vw;
		line-height: 20vw;;
		margin-top: 3rem;
	}
}

section {
	color: #1f252f;
}

section:hover {
	color: #596374;
}

section {
	margin-bottom: 32px;
}


section img {
	float: right;
	margin-left: 16px;
	height: 200px;
}

section p {
	height: 160px;
	overflow: hidden;
  	text-overflow: clip; 
}

table {
	margin-top: 32px;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
  
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	font-size: 20px;
}
  
tr:nth-child(even) {
	background-color: #dddddd;
}


a {
	text-decoration: none;
	color: inherit;
}

p a {
	text-decoration: underline;
	color: -webkit-link;
}